<form action="/survey" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <p>Your Name:<input type="text" name="survey[name]"></p>
    <p>Dojo Location: <select name="survey[location]">
        <option>Seattle</option>
        <option>San Jose</option>
        <option>Burbank</option>
        <option>Mountain View</option>
        <option>Chicago</option>
        </select></p>
    <p>Favorite Language: <select name="survey[language]">
            <option>Ruby</option>
            <option>Python</option>
            <option>C++</option>
            <option>Javascript</option>
            <option>React</option>
            </select></p>
    <p>Comment(optional)</p>
    <p><textarea name="survey[comment]"rows="4" cols="50"></textarea></p>
    <p><input type ="submit" value="Submit"></p>
</form>