<h2>Thanks for submitting this form! You have submitted this form #{session[:views]} times now.</h2>

<h3>Submitted Information</h3>
    <p>Name:<%=@result.name%></p>
    <p>Dojo Location:<%=@result.location%></p>
    <p>Favorite Language:<%=@result.language%></p>
    <p>Comment:<%=@result.comment%></p>
    <p><a href="/survey" >Go Back</a></p>